<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RS3</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <div class="jumbotron">
      <h1>Runescape Notification Signup</h1>
    </div>

    <div class="container">
      <!-- use the link in urls.py -->
      <a href="signup/" class="btn btn-primary">Sign Up</a>
    </div>

  </body>
</html>
