<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete school</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <h1>Delete {{school_delete.name}}?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
        <a class="btn btn-warning" href="{% url 'details' pk=school_delete.pk %}">Cancel</a>
    </form>
  </body>
</html>
