{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="jumbotron">
  <h1>Groups</h1>
</div>
<div class="container">
  <ol>
    {% for group in group_list %}
    <li>
      <h2><a href="{% url "groups:single" slug=group.slug %}">{{group.name}}</a></h2>
      <div class="row">
        <div class="col-md-4">
          {{group.members.count}} member{{group.members.count|pluralize}}
        </div>
        <div class="col-md-4">
          {{group.posts.count}} post{{group.posts.count|pluralize}}
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
