{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Drafts</h1>
</div>
    <!-- This list contains only unpublished items. Recall we have a get_queryset method in DraftListView -->
    {% for post in post_list %}
        <div class="post">
            <p class="date">created: {{ post.create_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text| safe | truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}
